<!DOCTYPE html>
<html>
<head>
  <title>Daneil</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="container" >
  <ul class="nav nav-tabs nav-justified" role="tablist">
      <a id="me" href="/daneil">
        <img class="img-circle" src="https://avatars2.githubusercontent.com/u/5812595?v=1&s=460" alt="home" width="140" height="140">
      </a>
    <li><a href="/">首页</a></li>
    <li><a href="/posts">Blog</a></li>
    <li><a href="/daneil">关于我</a></li>
  </ul>
    <%= yield %>
  </div>

</body>
</html>
